@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            <p>
            <p>
                Welcome to Gesture Physio control panel!
                The about page features <mark>patient records, detailing painful arc and max range of motion readings</mark>.
            </p>
        </div>
    </section>
}
<h3>Contact/Support:</h3>
<ol class="round">
    
        <h5>support@gesturephysio.com</h5>
   
        <h5>brianvarley9@gmail.com</h5>
     

</ol>
